.bg-nav{
background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mt-100{
margin-top:100px
}

:root {
    --color-bg: #ffffff; /* Light background */
    --color-fg: #000000; /* Light text */
}

[data-theme="dark"] {
    --color-bg: #000000; /* Dark background */
    --color-fg: #ffffff; /* Dark text */
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}
